.c-file-drag {
  overflow: hidden;
}

.c-file-drag-input {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 100px;
  cursor: pointer;

  input {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0;
    overflow: hidden;
    opacity: 0;
    height: 100%;
    cursor: pointer;

    &.hover + label {
      background-color: #efefef;
    }

    &.is-invalid ~ .c-file-drag-input__label {
      border-color: var(--bs-danger);
    }

    &:hover + label > button {
      --bs-btn-color: var(--bs-white, #fff);
      --bs-btn-bg: var(--bs-secondary);
    }

    &:disabled, &:read-only {
      opacity: 0;
      cursor: no-drop;

      + label {
        background-color: #eee;
        color: #999;
      }

      + label button {
        display: none;
      }
    }
  }

  &__label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: .375rem .75rem;
    color: #495057;
    background-color: #fff;
    //border: 1px solid #ced4da;
    //border-radius: .25rem;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    transition: all .3s;
    cursor: pointer;

    > span {
      display: inline-block;
      width: 100%;
    }
  }

  label::after {
    content: none !important;
  }

  &__button {
    font-size: .85rem;
    padding-left: .5rem;
    padding-top: .15rem;

    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-color: var(--bs-secondary);
  }
}
